{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Pagina de detalless</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="{% static 'polls/style.css' %}">
    <script src="script.js"></script>
  </head>
  <body><div class="centro">
    <h1>Detalle pregunta!</h1>

    
  {% if user.is_authenticated and not question.is_finished %}
    {% with answers=user.answers_set.all %}
      {% if is_anwered %}
      <h3 style="color: white;">UPPS Ya contestaste esta pregunta</h3>

        <p>Esta pregunta ya ha sido respondida.</p>
        {% else %}
        <p >No haz Respondido esta Pregunta.</p>
        <form action="{% url 'polls:vote' question.id %}" method="post">
          {% csrf_token %}
          <fieldset>
              <legend><h2>{{ question.question_text }}</h2></legend>
              {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
              {% for choice in question.choice_set.all %}
                  <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
                  <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
              {% endfor %}
          </fieldset>
          <input type="submit" value="Vote" class="button4">
          </form>
      {% endif %}
    {% endwith %}
    {% with answers=question.answers_set.all %}
    {% if answers %}
      <h2>Respuestas:</h2>
      <ul style="margin-left: 120px;">
        {% for answer in answers %}
          <li style="color: black;">
            {{ answer.voter.username }} Respondio:
            {{ answer.choice.choice_text }}
            {% if request.user == answer.voter %}
              <form action="{% url 'polls:cancel_answer' answer.id question.id %}" method="post">
                {% csrf_token %}
                <input type="submit" value="Cancelar respuesta" class="btn btn-danger">
              </form>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    {% else %}
      <p>Sin Respuestas.</p>
    {% endif %}
{% endwith %}

  
  <!--{% if question.creator.id == user.id %}

  <Button class="button">Finalizar</Button>
{% endif %}
  {% else %}
    <h2>Pregunta Finalizaada</h2>
    <Button class="button">Ver Resultados</Button>
  </ul>
  {% endif %}-->

  <button onclick="location.href='/polls'" class="button">Inicio</button>


</div>
  </body>
</html>
