{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>My Web Page Result</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="{% static 'polls/style.css' %}">
    <script src="script.js"></script>
  </head>
  <body>
    <h1>Tutorial  Resultados Django!</h1>
    <h1>{{ question.question_text }}</h1>

    <ul>
    {% for choice in question.choice_set.all %}
        <li>{{ choice.choice_text }} -- {{ choice.votes }} vote{{ choice.votes|pluralize }}</li>
    {% endfor %}
    </ul>
    
    <a href="{% url 'polls:detail' question.id %}"  style="color: aliceblue;">Vota otra vez?</a>
    

  </body>
</html>
