{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Cerrar Sesion</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="{% static 'polls/style.css' %}">
    <script src="script.js"></script>
  </head>
  <body>
    <div class="centro">
    {% block content %}
    <p style="margin-top: 300px;">¡Sesión finalizada!</p>
    
    <a href="{% url 'login'%}">Haga clic aquí para iniciar sesión nuevamente.</a>
  <br>
    <a href="{% url 'polls:index'%}">Ir al Inicio.</a></div>
    {% endblock %}
  </body>
</html>                                                                                                                                                                                                                                                                     