{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Iniciar Sesion</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="{% static 'polls/style.css' %}">
    <script src="script.js"></script>
  </head>
  <body>
    <div class="login-container">
      <div class="logo-container">
        <img src="{% static 'polls/images/usuario.png' %}" alt="Logo" class="login-logo">
      </div>
      
      {% block content %}
        
      {% if form.errors %}
      <p>Su nombre de usuario y contraseña no coinciden. Por favor, inténtalo de nuevo.</p>
      {% endif %}
    
      {% if next %}
        {% if user.is_authenticated %}
        <p>Su cuenta no tiene acceso a esta página. Para proceder,
          inicie sesión con una cuenta que tenga acceso.</p>
        {% else %}
        <p>Inicie sesión para ver esta página.</p>
        {% endif %}
      {% endif %}
    
      <p style="color: rgb(169, 233, 238); text-align: center;">Ingrese sus credenciales</p>
        
        <form method="post" action="{% url 'login' %}" class="login-form">
          {% csrf_token %}
          <div class="form-group">
            {{ form.username.label_tag }}<br>
            {{ form.username }}
          </div>
          <div class="form-group">
            {{ form.password.label_tag }}<br>
            {{ form.password }}
          </div>
        <div class="centro_content"><button type="submit" class="btn btn-primary">Login</button></div>
          <input type="hidden" name="next" value="{{ next }}">
        </form>
    
        <p><a href="{% url 'password_reset' %}" class="forgot-password">¿Perdiste tu contraseña?</a></p>
        {% endblock %}
      </div>
    </div>
    </body>
</html>