{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>My Web Page Login</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="{% static 'polls/style.css' %}">
    <script src="script.js"></script>
  </head>
  <body>
  <div class="centro">
    <img src="{% static 'polls/images/polls.jpg' %}" alt="Cinque Terre" width="300" height="200" style=" border-radius: 8px;">
    {% block content %}
    
      {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
      {% endif %}
    
      {% if next %}
        {% if user.is_authenticated %}
          <p>Your account doesn't have access to this page. To proceed,
          please login with an account that has access.</p>
        {% else %}
          <p>Please login to see this page.</p>
        {% endif %}
      {% endif %}
    
      <form method="post" action="{% url 'login' %}" >
        {% csrf_token %}
        <table style="margin: auto; ">
          <tr >
            <td>{{ form.username.label_tag }}</td>
            <td>{{ form.username }}</td>
          </tr>
          <tr >
            <td>{{ form.password.label_tag }}</td>
            <td>{{ form.password }}</td>
          </tr>
        </table>
        <input type="submit" value="login">
        <input type="hidden" name="next" value="{{ next }}">
      </form>
    
      {# Assumes you set up the password_reset view in your URLconf #}
      <p><a href="{% url 'password_reset' %}">Lost password?</a></p>
    
    {% endblock %}
  </div>
    </body>
</html>