{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>reset complete</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="{% static 'polls/style.css' %}">
    <script src="script.js"></script>
  </head>
  <body>
    {% extends "base_generic.html" %}
    {% block content %}
    
    <h1>¡La contraseña ha sido cambiada!</h1>
    <p><a href="{% url 'login' %}">¿ingresar de nuevo?</a></p>
    
    {% endblock %}
    
  </body>
</html>