{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Reset Password Done</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="{% static 'polls/style.css' %}">
    <script src="script.js"></script>
  </head>
  <body>

    {% block content %}
    <p>Le hemos enviado por correo electrónico instrucciones para configurar su contraseña. Si no han llegado en unos minutos, revisa tu carpeta de spam.</p>
    {% endblock %}
    
    </body>
</html>